// Colors
// =====================
$blue: #273176;
$green: #84d5c0;
$coral: #da695b;

// Body
// =====================
$body-bg-color: $green;

// Type
// =====================
$font-family-sans-serif: 'Open Sans', sans-serif;

// Nav Toggle
// =====================
$nav-toggle-line-left: 7px;