// Colors
// =====================
$blue: #273176;
$green: #84d5c0;
$coral: #da695b;

$text-color: darken($blue, 15%);

// Body
// =====================
$body-bg-color: $green;

// Type
// =====================
$font-family-sans-serif: 'proxima-nova', sans-serif;

// Container
// =====================
$grid-gutter-width: 30px;

// Nav Toggle
// =====================
$nav-toggle-line-left: 7px;