/bootstrap/compiled.php
/vendor
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
app/config/local/database.php

# IDE Helper
_ide_helper.php

# Bower packages - installed/compiled on deploy
app/assets/vendor

# Node, front-end stuff, etc.
npm-debug.log
node_modules
.sass-cache

# Compiled front end assets - this will be done on deploy.
public/css/main.css.map
public/css/main.min.css.map
# This is a weird side-effect of the gulp-ruby-sass package outputting both main.css
# and main.css.map. gulp-rename is working on both of these files.
public/css/main.min.map

# Ignore Javascript sourcemaps.
public/js/main.min.js.map

tests/_output/*