/bootstrap/compiled.php
/vendor
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
app/config/local/database.php

# IDE Helper
_ide_helper.php

# Node, front-end stuff, etc.
npm-debug.log
node_modules

# Compiled front end assets - this will be done on deploy.
public/css/main.min.css
public/css/main.min.css.map
publics/js/main.min.js
publics/js/main.min.js.map
