@include component(header) {
  background-color: darken($blue, 10%);
  color: lighten($green, 15%);
  font-size: 18px;
  font-weight: 200;
  min-height: 180px;
  padding: 40px 0;
  text-align: center;

  h1 {
    margin: 0;
    padding: 0 20px;
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
  }
}
@include component(header-wrap) {
  height: auto;
  margin-bottom: 30px;
  width: 100%;

  @include part(top-bar) {
    height: 5px;
    width: 100%;
    background-color: $coral;
  }
}
@include component(countdown-wrap) {
  padding: 0 45px;

  > p {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
@include component(countdown) {
  font-size: 17px;
}
