// Top bar is the coral line under the main header section.
.header-wrap__top-bar {
  height: 5px;
  width: 100%;
  background-color: $coral;
}

.header-wrap {
//  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: auto;
  margin-bottom: 30px;
  width: 100%;
}

// Scrolled class
.header-wrap.short .header {
  padding: 10px 0;
  min-height: 100px;
}
.header-wrap.short .header h1 {
  font-size: 22px;
}

.header {
  background-color: darken($blue, 10%);
  color: lighten($green, 15%);
  font-size: 18px;
  font-weight: 200;
  min-height: 212px;
  padding: 40px 0;
  transition: 150ms ease-in-out all;
}

// Header font styles.
.header h1,
.header p {
  margin: 0;
  padding: 0 20px;
}

.header h1 {
  font-size: 32px;
  font-weight: 400;
  transition: 150ms ease-in-out font-size;
}

.countdown-wrap {
  font-size: 14px;
  margin-top: 20px;
  padding: 0 45px;
  text-transform: uppercase;
}
.countdown-wrap > p {
  font-weight: 700;
}